{erl_opts, [debug_info]}.
{deps, [
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
    {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.15.2"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.5.0"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {lager, ".*", {git,"https://github.com/basho/lager", {tag, "3.2.4"}}} 
]}.

{relx, [{release, { ebroker, "0.1.0" },
         [ebroker,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{erl_opts, [{parse_transform,lager_transform}]}.

